.main-header {
    background-color: #a8b9e3; 
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.secondary-header {
    background-color: #8796be; 
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: #e5ebf9; 
}

.image-box {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 0px;
    padding: 15px;
    padding-top: 0px;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.image-item {
    height: 275px;
    width: 100%;
}

.feature-image {
    height: 600px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-border {
    border: 5px solid #323456;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.img-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    width: 100%;
    height: 100%;
}

.revision-section {
    background-color: #94aeec; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tables-container {
    background-color: #e5ebf9; 
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .table-wrapper {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #333;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }




.questions-sidescroll {
    width: 100%;
    height: 100%;
    background-color: #ba917f; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow: scroll;
    padding: 20px;
}

.question-container {
    width: 200px;
    height: 100%;
    background-color: #d9b8aa; 
    display: flex;
    flex: none;
    flex-direction: column;
}

.question {
    display: flex;
    background-color: #b9f3eb; 
    flex-grow: .5;
    padding: 10px;
}

.summary {
    display: flex;
    background-color: #80e0d2; 
    flex-grow: .5;
    padding: 10px;
}