.main-header {
    background-color: #8699ca; 
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.google-section {
    background-color: #657dba; 
}

.amazon-section {
    background-color: #5169a5; 
}

.discord-section {
    background-color: #3c5082; 
}

.image-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 350px;
    overflow-x: scroll;
}

.image-item {
    height: 300px;
    width: 100%;
    object-fit: scale-down;
}