.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 5px 5px rgb(95, 63, 53);
    border-radius: 10px;
    background-color: #b1d6d0;
    width: 75%;
}

.section-description {
    font-weight: 600;
    font-size: large;
    width: 66%;
    text-align: center;
}

.tertiary-header {
    background-color: #beea95; 
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-top: 15px;
    text-align: center;
}

.headline {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #e9c9bd; 
}

.top-headline {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9e8e2; 
}

.content-sidescroll {
    width: 100%;
    height: 100%;
    background-color: #ba917f; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    padding: 20px;
    gap: 20px;
}

.question-container {
    width: 25%;
    height: 300px;
    background-color: #d9b8aa; 
    display: flex;
    flex: none;
    flex: none;
    flex-direction: column;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 5px 5px rgb(95, 63, 53);
}

.question-title {
    display: flex;
    flex-grow: .05;
    font-weight: 700;
    background-color: #f3e9e5; 
    padding: 10px;
}

.problem-image {
    display: flex;
    background-color: #b9f3eb; 
    flex-grow: .2;
    padding: 10px;
}

.summary {
    display: flex;
    background-color: #80e0d2; 
    flex-grow: 1;
    padding: 10px;
}

.observations-boxes {
    width: 100%;
    height: 100%;
    background-color: #ba917f; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 20px;
    gap: 20px;
}

.observations-title {
    background-color: #ba917f; 
    text-align: center;
    font-size: large;
    font-weight: 800;
    width: 100%;
    align-items: center;
}

.observation-container {
    width: 25%;
    height: 75px;
    padding: 20px;
    background-color: #f3e9e5; 
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 5px 5px rgb(95, 63, 53);
}

.observation-container-large {
    width: 60%;
    height: 75px;
    padding: 20px;
    background-color: #f3e9e5; 
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 5px 5px rgb(95, 63, 53);
}

.image-panel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ba917f;
}

.desc-img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 100%;
}

.img-desc {
    width: 80%;
    height: 100%;
    padding: 20px;
    background-color: #f3e9e5; 
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 5px 5px rgb(95, 63, 53);
}

.gap {
    justify-content: space-around;
}

.large-image {
    width: 80%;
}

.img {
    width: 80%;
}


