.main-header {
    background-color: #a8b9e3; 
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.secondary-header {
    background-color: #8796be; 
    color: rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: #e5ebf9; 
}

.image-box {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 0px;
    padding: 15px;
    padding-top: 0px;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.image-item {
    height: 275px;
    width: 100%;
}

.img-border {
    border: 5px solid #323456;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.img-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    width: 100%;
    height: 100%;
}

.revision-section {
    background-color: #f4e7a7; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tables-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .table-wrapper {
    width: 300px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #333;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }